@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20rem 12rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20rem 12rem;
  z-index: var(--z-index-header);

  @include g.mq() {
    padding: 24rem 65rem;
  }
}

.l-header-logo {
  width: 240rem;

  @include g.mq() {
    width: 290rem;
  }
}

.l-header-menu {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;

  @include g.mq() {
    display: block;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  &::backdrop {
    display: none;
  }
}

.l-header-menu-nav {
  background-color: var(--color-primary);
  width: 319rem;
  margin-left: auto;
  padding: 40rem;
  border-radius: 0 0 0 30rem;
  color: var(--color-white);

  @include g.mq() {
    background-color: transparent;
    padding: 0;
    color: var(--color-font-base);
    border-radius: 0;
    width: auto;
  }
}

.l-header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16rem;

  @include g.mq() {
    flex-direction: row;
    align-items: center;
    gap: 50rem;
  }
}

.l-header-item--top {
  @include g.mq() {
    display: none;
  }
}

.l-header-menu-link {
  display: block;
}

.l-header-menu-link--contact {
  @include g.mq() {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 9rem 31rem;
    display: flex;
    align-items: center;
    gap: 9rem;
    border-radius: 100vh;
    border: 1rem solid var(--color-primary);
    transition:
      background-color 0.3s,
      color 0.3s;

    &::before {
      content: "";
      display: block;
      width: 16rem;
      height: 13rem;
      mask-image: url(../img/icon-mail.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--color-white);
      transition: background-color 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-white);
        color: var(--color-primary);

        &::before {
          background-color: var(--color-primary);
        }
      }
    }
  }
}

.l-header-menu-link--current {
  @include g.mq() {
    color: var(--color-primary);
  }
}

.l-header-menu-link--white {
  @include g.mq() {
    color: var(--color-white);
  }
}

.l-header-menu-text-en {
  font-family: var(--font-family-en);
  font-size: 28rem;
  letter-spacing: 0.025em;
  display: block;
  text-transform: capitalize;

  @include g.mq() {
    line-height: 1;
    font-size: 18rem;
  }
}

.l-header-menu-text-ja {
  font-size: 14rem;
  opacity: 0.8;
  display: block;

  @include g.mq() {
    display: none;
  }
}

.l-header-menu-open-button,
.l-header-menu-close-button {
  border-radius: 50%;
  width: 50rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;

  @include g.mq() {
    display: none;
  }
}

.l-header-menu-open-button {
  background-color: var(--color-primary);

  img {
    width: 24rem;
  }
}

.l-header-menu-close-button {
  background-color: var(--color-white);
  position: absolute;
  right: 12rem;
  top: 20rem;

  img {
    width: 28rem;
  }
}