@use "top/top-kv";
@use "top/top-about";
@use "top/top-service";
@use "top/top-recruit";
@use "top/top-news";
@use "about/about-philosophy";
@use "about/about-staff";
@use "about/about-company";
@use "service/service-detail";
@use "service/service-case";
@use "case/case-list";
@use "case-detail/case-detail";
@use "news/news-archive";
@use "news-detail/news-detail";
@use "recruit/recruit-position";
@use "recruit/recruit-benefit";
@use "recruit/recruit-culture";
@use "recruit/recruit-entry";
@use "contact/contact-form";
