@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
  --font-size: 18rem;
  --gap: 14rem;
  font-family: var(--font-family-en);
  text-transform: capitalize;
  line-height: 1;
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size);

  @include g.mq() {
    font-size: 20rem;
    gap: 24rem;
  }

  &::before,
  &::after {
    --size: 47rem;
    --dot-size: 5rem;
    content: "";
    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-white);
    border: calc((var(--size) - var(--dot-size)) / 2) solid var(--color-primary);
    transition: scale 0.3s;

    @include g.mq() {
      --size: 58rem;
      --dot-size: 6rem;
    }
  }

  &::before {
    display: none;
  }

  &--back {
    &::before {
      display: block;
    }

    &::after {
      display: none;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before,
      &::after {
        scale: 1.1;
      }
    }
  }
}

.c-button--back {
  &::after {
    display: none;
  }
}

.c-button--small {
  --font-size: 16rem;
  --gap: 10rem;

  &::after {
    --size: 32rem;
    --dot-size: 4rem;
  }
}
