@use "../global" as g;

/*!
component > page-kv
------------------------------
*/
.c-page-kv {
  background-color: var(--color-bg-light);
  height: 365rem;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include g.mq() {
    height: 467rem;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 64rem;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 30rem 0 0 0;

    @include g.mq() {
      height: 96rem;
      border-radius: 50rem 0 0 0;
    }
  }

  > * {
    width: 100%;
  }
}

.c-page-kv-inner {
  padding-bottom: 84rem;
  display: flex;
  flex-direction: column;
  gap: 32rem;

  @include g.mq() {
    padding-bottom: 116rem;
    gap: 56rem;
  }
}

.c-page-kv-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 22rem;

  @include g.mq() {
    gap: 28rem;
  }
}

.c-page-kv-title-en {
  font-family: var(--font-family-en);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 55rem;
  line-height: 1;

  @include g.mq() {
    font-size: 70rem;
  }
}

.c-page-kv-title--ja {
    line-height: 1;
    color: var(--color-font-light);
}

.c-page-kv-breadcrumb {
  display: flex;
  justify-content: flex-end;
}
