@use "../global" as g;

/*!
component > pagination
------------------------------
*/
.c-pagination-list {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.c-pagination-link,
.c-pagination-number,
.c-pagination-dots {
  width: 40rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16rem;
  font-family: var(--font-family-en);
}

.c-pagination-link {
  background-color: var(--color-bg-light);
  transition:
    background-color 0.3s,
    color 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);

      .c-pagination-icon {
        background-color: var(--color-white);
      }
    }
  }
}

.c-pagination-icon {
  mask-image: url(../img/icon-arrow.svg);
  mask-size: cover;
  mask-position: center;
  display: block;
  width: 10rem;
  aspect-ratio: 1/1;
  background-color: var(--color-font-base);
  transition: background-color 0.3s;
}

.c-pagination-icon--prev {
  rotate: 180deg;
}

.c-pagination-number {
}

.c-pagination-number-curret {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.c-pagination-dot-icon {
  mask-image: url(../img/icon-dots-small.svg);
  mask-size: cover;
  mask-position: center;
  background-color: var(--color-font-base);
  display: block;
  width: 10rem;
  height: 3rem;
}

.c-pagination-icon--next {
}
