/*!
global > color
------------------------------
*/

:root {
  --color-primary: #144e94;
  --color-bg-extra-light: #fafafa;
  --color-bg-light: #f2f2f2;
  --color-border: #dddddd;
  --color-font-base: #333333;
  --color-font-light: #888888;
  --color-white: #ffffff;
  --color-red: #e95757;
}
