@use "../../global" as g;

/*!
page > recruit > recruit-benefit
------------------------------
*/
.recruit-benefit {
  background-color: var(--color-bg-extra-light);
}

.recruit-benefit-table {
  margin-top: 24rem;

  @include g.mq() {
    margin-top: 40rem;
  }
}

.recruit-benefit-table-body {
  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32rem;
  }
}

.recruit-benefit-table-item {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16rem 8rem;
  border-bottom: 1px solid var(--color-border);

  @include g.mq() {
    grid-template-columns: 100rem 1fr;
    padding: 24rem 8rem;
    gap: 34rem;
    align-items: center;
  }

  th {
    font-size: 14rem;
    color: var(--color-font-light);
    letter-spacing: 0.125em;
  }

  td {
  }
}
