@use "../../global" as g;

/*!
page > recruit > recruit-culture
------------------------------
*/

.recruit-culture-gallery {
  margin-top: 40rem;
}

.recruit-culture-gallery-item {
  img {
    border-radius: 10rem;
    width: 223rem;

    @include g.mq() {
      width: 350rem;
    }
  }
}
