@use "../../global" as g;

/*!
page > recruit > recruit-position
------------------------------
*/
.recruit-position-list {
  margin-top: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16rem;

  @include g.mq() {
    margin-top: 54rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 60rem;
  }
}

.recruit-position-item {
  padding: 20rem 32rem;
  border: 1px solid var(--color-border);
  border-radius: 11rem;

  @include g.mq() {
    padding: 40rem;
  }
}

.recruit-position-title-ja {
  font-size: 20rem;

  @include g.mq() {
    font-size: 28rem;
  }
}

.recruit-position-title-en {
  font-size: 15rem;
  text-transform: capitalize;
  font-family: var(--font-family-en);
  color: var(--color-primary);
  margin-top: 4rem;

  @include g.mq() {
    font-size: 16rem;
  }
}

.recruit-position-text {
  margin-top: 14rem;
}
